@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <h3>RteMap.Count:<br />&nbsp;&nbsp;&nbsp;&nbsp;@RichTextEditorStatesWrap.Value.Map.Count</h3>
    <h3>RteArray.Length:<br />&nbsp;&nbsp;&nbsp;&nbsp;@RichTextEditorStatesWrap.Value.Array.Length</h3>
</div>
