@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="rte_rich-text-editor-row-display @IsActiveCss">
    <RichTextEditorLineNumberDisplay IndexOfRow="Index"
                                     MostDigitsInARowNumber="MostDigitsInARowNumber" />

    
    <div class="rte_rich-text-editor-row-display-body"
         style="@WidthStyleCss">
        @foreach(var textTokenKey in RichTextEditorRow.Array)
        {
            <TextTokenDisplay TextToken="RichTextEditorRow.Map[textTokenKey]" />
        }
    </div>
</div>
