@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div id="@IsActiveRowId"
     class="rte_rich-text-editor-row-display @IsActiveCss"
     @onclick="DispatchRichTextEditorOnClickAction">
    <RichTextEditorLineNumberDisplay MostDigitsInARowNumber="MostDigitsInARowNumber" />
    
    <CascadingValue Name="NotifyCharacterWasClicked" Value="new Action(() => _characterWasClicked = true)">
        <div class="rte_rich-text-editor-row-display-body"
            style="@WidthStyleCss">

            @{
                // Ensure reference to RichTextEditorRow does
                // not change while looping over tokens
                // by making a local reference to it.
                var currentRichTextEditorRow = RichTextEditorRow;

                for (int i = 0; i < currentRichTextEditorRow.Array.Length; i++)
                {
                    var tokenIndex = i;

                    var tokenKey = currentRichTextEditorRow.Array[tokenIndex];
                    var tokenValue = currentRichTextEditorRow.Map[tokenKey];

                    <CascadingValue Name="TokenIndex" Value="tokenIndex">
                        <TextTokenDisplay @key="tokenKey"
                                          TextToken="tokenValue" />
                    </CascadingValue>
                }
            }
        </div>
    </CascadingValue>
</div>
