<div>
    @if (_richTextEditorWasInitialized)
    {
        <RichTextEditor.RazorLib.RichTextEditorCase.RichTextEditorDisplay RichTextEditorKey="_richTextEditorKey" />
    }
    else
    {
        <h1>Loading rte...</h1>
    }
</div>

